<form method="POST" action="">
    {% csrf_token %}
    <br>
    {{ mensaje }}
    <br>
    <b>{{ form.errors }}</b>

    {% for form in formulario %}
        <b>{{ form.label }}:</b>
        {{ form }}
        <br>
    {% endfor %}

    <input type="submit" value="Enviar">
</form>
